.title {
    color: #9d9fa2;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.table-container {
    max-height: 800px; 
    overflow-y: auto; 
    position: relative; 
}

.sticky-thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa; 
    z-index: 1; 
}

.text-break {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}