.navbar-custom {
    background-color: #32C0F9;
}


.nav-link-custom {
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff !important; 
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link-admin {
    font-size: small;
}

.dropdown-custom{
    background-color: #32C0F9;
    border: none;
}

.dropdown-custom:hover{
    background-color: #fff;
    color: #32C0F9 !important;
}

.nav-link-custom:hover {
    background-color: #fff;
    color: #32C0F9 !important;
}

.no-focus-outline:focus {
    outline: none;
    box-shadow: none;
}

.nav-link-custom.active {
    background-color: #fff;
    color: #32C0F9 !important;
}
